
<div class="card flex justify-content-center">
  <p-organizationChart [value]="data"></p-organizationChart>
</div>
<div class="block-section">
  <div class="block-content">
    <div class="surface-ground px-4 py-8">

      <div class="grid">
          <div class="col-12 md:col-6">
            <app-child (InputValue)="getUsersData($event)" [placeholderText]="'create User'"
              [boxColor]="'red'">
            </app-child>
              </div>
          <div class="col-12 md:col-6">
            <app-child (InputValue)="getAdminsData($event)" [placeholderText]="'create Admin'"
              [boxColor]="'green'"></app-child>
          </div>
        </div>
          <div class="grid"> 
        <div class="col-12 md:col-6">
          <p-card header="User" *ngIf="usersBox" pBadge value="{{usercount}}">
            <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-user let-i="rowIndex">
                <tr>
                  <td>{{i}}</td>
                  <td>{{ user }}</td>
                  <td>
                    <a tabindex="0" (click)="onRemoveUsers(i)"
                      class="cursor-pointer text-pink-500 font-medium hover:text-pink-600 transition-colors transition-duration-300">
                      Remove Item
                    </a>
                  </td>

                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </div>
        <div class="col-12 md:col-6">
          <p-card header="Admin" *ngIf="adminBox" pBadge value="{{admincount}}">
            <p-table [value]="admins" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-admin let-i="rowIndex">
                <tr>
                  <td>{{i}}</td>
                  <td>{{ admin}}</td>
                  <td>
                    <a tabindex="0" (click)="onRemoveAdmins(i)"
                      class="cursor-pointer text-pink-500 font-medium hover:text-pink-600 transition-colors transition-duration-300">
                      Remove Item
                    </a>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>